
@font-face {
    font-family: "MullerLight";
    src: url("../fonts/MullerLight.woff") format("woff"),
         url('../fonts/MullerLight.woff2') format("woff2");
         font-display: swap;
  }
@font-face {
    font-family: "MullerRegular";
    src: url("../fonts/MullerRegular.woff") format("woff"),
         url('../fonts/MullerRegular.woff2') format("woff2");
         font-display: swap;
  }
  @font-face {
    font-family: "Muller Regular Italic";
    src: url("../fonts/Muller Regular Italic.woff") format("woff"),
         url('../fonts/Muller Regular Italic.woff2') format("woff2");
         font-display: swap;
  }
@font-face {
    font-family: "MullerMedium";
    src: url("../fonts/MullerMedium.woff") format("woff"),
         url('../fonts/MullerMedium.woff2') format("woff2");
         font-display: swap;
  }
@font-face {
    font-family: "MullerBold";
    src: url("../fonts/MullerBold.woff") format("woff"),
         url('../fonts/MullerBold.woff2') format("woff2");
         font-display: swap;
  }